<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultPathToQuestions" value="Resources/questions"/>
		<add key="defaultPathToData" value="Data"/>
		<add key="defaultHealthFileName" value="health.json"/>
		<add key="defaultHealthPoint" value="2"/>
		<add key="defaultDamage" value="1"/>
		<!--In seconds.-->
		<add key="defaultTimeOutDuration" value="60"/>
	</appSettings>
</configuration>