<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="firstQuestion" value="F:\\C#\\GraphApp\\GraphApp\\GraphApp\\bin\\Debug\\net6.0-windows\\questions\\first.json"/>
		<add key="secondQuestion" value="F:\\C#\\GraphApp\\GraphApp\\GraphApp\\bin\\Debug\\net6.0-windows\\questions\\second.json"/>
	</appSettings>
</configuration>