<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultPathToQuestions" value="Resources/Questions"/>
		<add key="defaultPathToTests" value="Resources/Tests"/>
		<add key="defaultPathToPracticTask" value="Resources/Practics"/>
		<add key="defaultPathToCreateMatrixTask" value="Resources/CreateMatrix"/>
		<add key="defaultPathToEducationMaterialMap" value="Resources/EducationMaterialMap"/>
		<add key="defaultEducationMaterialMapFileName" value="EducationMaterialMap.json"/>
		<!--In seconds.-->
		<add key="defaultTimeOutDuration" value="60"/>
	</appSettings>
</configuration>